@font-face {
    font-family: "ft";
    font-weight: 300;
    src: url('fnt/lt.ttf');
}

@font-face {
    font-family: "ft";
    font-weight: 400;
    src: url('fnt/rg.ttf');
}

@font-face {
    font-family: "ft";
    font-weight: 500;
    src: url('fnt/md.ttf');
}

@font-face {
    font-family: "ft";
    font-weight: 700;
    src: url('fnt/bd.ttf');
}

html {
    background-color: #1D1618;
    font-family: ft;
    user-select: none;
}

body {
    margin: 0;
}

p {
    color: #FFFFFF;
}

div {
    color: #FFFFFF;
}

#upper_banner {
    left: 0;
    top: 0;
    position: relative;
}

.banner_core {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title_core {
    position: absolute;
    text-align: center;
    font-size: 22px;
    bottom: 5px;
    z-index: 2;
    width: 100%;
}

.hl_main_text {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    color: #F7BACF;
}

.social_sets {
    text-align: center;
    user-select: none;
    margin-top: 10px;
}

.social_sets a {
    text-decoration: none;
}

.social_sets_odd {
    display: inline-block;
    font-weight: 400;
}

.social_sets_odd a {
    color: #F7BACF;
    font-weight: 700;
}

.social_sets_even {
    display: inline-block;
    font-weight: 300;
}

.social_sets_even a {
    color: #FFFFFF;
    font-weight: 400;
}

.host_info {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.host_info p {
    color: #8F566A;
}

.host_info a {
    color: #8F566A;
    text-decoration: none;
}

.host_info a:hover {
    color: #F7BACF;
    font-weight: 600;
}